html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
#background {
    display:block;
    position:absolute;
    background-image:url("images/background_image.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px!important;
	left: 0px!important;
	right: 0px!important;
    bottom: 0px!important;
    width: auto!important;
    height: auto!important;
    filter: brightness(60%);
	z-index: 0;
}
#login_container {
    position: relative;
    display:block;
    z-index: 1!important;
    width: 50%;
    margin:auto;
    text-align: center;
    color:white;
}
form {
    position:relative;
    display: block;
    height: 250px;
    width: 300px;
    text-align: center;
    color:white;
    margin: auto;
}

form input {
    height: 30px;
    width: 250px;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}
.space {
    width:100%;
    height:100px;
}

