.theNew {
    display:block;
    background-color:cornflowerblue;
    color:white;

}

.dcRebirth {
    display:block;
    background-color:black;
    color:white;

}

.dcThoughtRobot {
    display:block;
    background-color:grey;
    color:black;
}